
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book List</title>
</head>
<body>
    <h1>List of Book</h1>
</body>
</html>
