
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/Site.css" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
   <img  src="~/Images/AmtechLogo.png" class="logo" alt="logo" />
   @*<img src="~/StaticContents/planet.png" alt="planet"/>*@
    <button class="btn btn bg-success">Click Me</button>
</body>
<script src="~/lib/jquery/jquery.js"></script>

</html>
<script>
    $(document).ready(function () {
        alert('Hi');
    });
</script>
