
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Book Application</h1>
    <h2>Today's Date: @DateTime.Now.Date</h2>
    <h3>@(7+8)</h3>
</body>
</html>
